{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="menu_head"> 
        <img class="menu_img" src="{% static 'images\i.webp' %}" alt="mellon">
        <h1>Добро пожаловать в барбершоп "{{ name }}"!</h1>
    </div>    
    <div class="menu_cont">
        <p><a href="thanks/">Отзывы</a></p>
        {% if user.is_stuff %}
            <p><a href="orders/">Список записей</a></p>            
        {% endif %}        
        <p><a href="orders/1">Запись к мастеру</a></p>


    </div>

{% endblock content %}

