{% load static %}
<div class="row row-cols-1 row-cols-md-4 g-4">        
        {% for app in apps %}
            {% comment %} <div.col-12 col-md-6 col-lf-4> {% endcomment %}
                <div class="appointment_card card">
                    Клиент: {{ app.1 }}<br>
                    Телефон клиента: {{ app.2 }}<br>                    
                    Запись оформлена: {{ app.3 }}<br>

                    Количество услуг -  {{ app.5 }}<br>
                    
                    <b>Услуги:</b>
                    {% for service in order_details  %}
                        {% if service.0 == app.0 %}
                            <ul>
                                <li><span>{{ service.1 }} </span></li>
                            </ul>
                            
                        {% endif %}
                    {% endfor %}
                    <a href=" {% url 'order_detail' app.0 %}">Подробно</a><br>

                    {% if  app.4 == 'новая'%}
                        <span class="badge bg-info"> Статус заявки: {{ app.4 }}</span><br>
                    {% elif app.4 == 'подтвержденная' %}
                        <span class="badge bg-primary"> Статус заявки: {{ app.4 }}</span><br>
                    {% elif app.4 == 'выполненная' %}
                        <span class="badge bg-success"> Статус заявки: {{ app.4 }}</span><br>
                    {% else %}
                        <span class="badge bg-danger"> Статус заявки: {{ app.4 }}</span><br>
                    {% endif %}
                    {% comment %} {% include "order_detail.html" with a.id= app.0 %} {% endcomment %}
                    
                </div>
                <br>
            {% comment %} </div> {% endcomment %}
        {% endfor %}    
</div>