{% load static %}
    <div class="col">
        <div class="row">
            <form method="GET" action=".">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="searchForm" aria-describedby="searchForm" placeholder="Введите поисковый запрос" name="q" value="{{ request.GET.q|default:'' }}">
                    <button type="submit" class="btn btn-primary"><span><i class="bi bi-search"></i></span></button>
                </div>
                <div class="mb-3">
                    <label class="form-label">Искать по:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="searchByPhone" name="search_by_phone" value="true" {% if request.GET.search_by_phone %}checked{% endif %}>
                        <label class="form-check-label" for="searchByPhone">Телефону</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="searchByName" name="search_by_client_name" value="true"checked {% if request.GET.search_by_client_name %}checked{% endif %}>
                        <label class="form-check-label" for="searchByName">Имени клиента</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="searchByComment" name="search_by_comment" value="true" {% if request.GET.search_by_comment %}checked{% endif %}>
                        <label class="form-check-label" for="searchByComment">Комментарию</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row row-cols-md-3 g-3 ">
            {% for order in orders %}
                <div class="appointment_card card mx-1 bg-warning-subtle" style="width:32% " >
                {% comment %} <div class="appointment_card card " style="height:350px"> {% endcomment %}
                    
                    <span class="text-end">Дата создания:  <span class="badge bg-info px-2"> {{ order.date_created }}</span></span><br>
                    <span><b>Клиент:</b> {{ order.client_name }}</span>
                    <span><b>Мастер:</b> {{ order.master }}</span>
                    <span><b>Телефон клиента:</b> {{ order.phone }}</span>                
                    <span><b>Запись оформлена на:</b> {{ order.appointment_date }}</span>
                    <span><b>Количество услуг </b> -  {{ order.services.all|length }} </span><br>
                    <span class="mx-auto"><b>Услуги</b></span> 
                    <div class="card px-2 bg-secondary-subtle" >{{ review.text }}                     
                        {% for service in order.services.all  %}
                            <li><span>{{ service.description }} </span></li>
                        {% endfor %}
                        <br>                        
                    </div>
                    <span class=" mx-auto "><b>Статус заявки:   </b>
                        {% if  order.status == 'НОВАЯ'%}
                            <span class="badge bg-info">{{ order.status }} </span>  
                        {% elif order.status == 'ПОДТВЕРЖДЕННАЯ' %}
                            <span class="bbadge bg-primary">{{ order.status }} </span>
                        {% elif order.status == 'ОТМЕНЕННАЯ' %}
                            <span class="badge bg-success">{{ order.status }} </span>
                        {% else %}
                            <span class="badge bg-danger">{{ order.status }} </span>
                        {% endif %}
                        
                    </span>
                    <a class=" mx-auto " href=" {% url 'order_detail' order.id %}">Подробно</a>
                    <br>
                </div>
                <br>
                
            {% endfor %}    
        </div>
    </div>