{% extends "base.html" %}

{% block content %}
    <h1> Просмотр деталей по записи клиента </h1>
    
    <div class="row-g3"> 
        <b>Мастер:</b> {{ order.master }}<br>
        <br>
        <b>Инфо о клиенте:</b><br>
        
        {% comment %} {% for cl_info in order.client  %} {% endcomment %}
        Имя: {{ order.client_name }}<br> 
        Телефон: {{ order.phone }}<br> 
        Записан на: {{ order.appointment_date }}<br> 
        {% comment %} {% endfor %}  {% endcomment %}
        <br>
        <h5><b>Услуги:  </b></h5>    
        {% for service in services  %}
            <div class="appointment_card"> 
                Услуга: {{ service.name }}<br>
                Описание услуги: {{ service.description }}<br>                    
                Цена: {{ service.price }}<br>
            </div>
            <br>

        {% endfor %}


        <div class="appointment_card">
            <h5><b>Стоимость:  </b> <span class="badge bg-primary"> {{ order_sum }}</span></h5><br>
            <br>
        </div>
        <a href=" {% url 'orders_list' %}"><< Назад</a>
        {% comment %} <div class="badge bg-primary">Стоимость: {{ order_sum.1 }} </div>  {% endcomment %}
    </div>



    
{% endblock content %}