h1 
    {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background: black;
    color: white;
    font-size: 48px;

}

.menu_cont {    
    margin: auto;
    
}

.menu_cont p {
    text-align: center;
    font-size: 18px;
}

/* .menu_cont a {
    
    font-size: 24px;
} */